{if $full_page}
<!-- $Id: pos_list.htm 17053 2010-03-15 06:50:26Z sxc_shop $ -->
{include file="pageheader.htm"} {insert_scripts files="../js/utils.js,listtable.js,placeholder.js"}
<div class="form-div">
    <form action="javascript:searchPos()" name="searchForm">
        <img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" />
        <span style="position:relative"><input type="text" name="pos_no" placeholder="POS编号" /></span>
        <input type="submit" class="button" value="{$lang.button_search}" />
    </form>
</div>
<form method="POST" action="" name="listForm" onsubmit="return confirm_bath()">
    <!-- start pos list -->
    <div class="list-div" id="listDiv">
        {/if}
        <!--pos列表部分-->
        <table cellpadding="3" cellspacing="1">
            <tr>
                <th>
                    <input onclick='listTable.selectAll(this, "checkboxes")' type="checkbox">
                </th>
                <th>POS机编号</th>
                <th>银行卡号</th>
                <th>联系人姓名</th>
                <th>电话</th>
                <th>刷卡次数</th>
                <th>经营分类</th>
                <th>地址</th>
                <th>创建时间</th>
                <th>{$lang.handler}</th>
            </tr>
            {foreach from=$pos_list item=pos}
            <tr>
                <td align="center"><input type="checkbox" name="checkboxes[]" value="{$pos.pos_id}" />{$pos.pos_id}</td>
                <td align="center"><a href="pos.php?act=record&pos_no={$pos.pos_no}">{$pos.pos_no}</a></td>
                <td align="center">{$pos.bank_no}</td>
                <td align="center">{$pos.contact}</td>
                <td align="center">{$pos.mobile}</td>
                <td align="center">{$pos.total}</td>
                <td align="center">{$pos.category}</td>
                <td align="center">{$pos.address}</td>
                <td align="center">{$pos.create_time}</td>
                <td align="center">
                    <a href="pos.php?act=edit&id={$pos.pos_id}" title="{$lang.edit}">
                        <img src="images/icon_edit.gif" border="0" height="16" width="16" />
                    </a>
                    <a href="javascript:confirm_redirect('{$lang.remove_pos_confirm}', 'pos.php?act=remove&id={$pos.pos_id}')" title="{$lang.remove}">
                        <img src="images/icon_drop.gif" border="0" height="16" width="16" />
                    </a>
                </td>
            </tr>
            {foreachelse}
            <tr>
                <td class="no-records" colspan="11">{$lang.no_records}</td>
            </tr>
            {/foreach}
            <tr>
                <td colspan="2">
                    <input type="hidden" name="act" value="batch_remove" />
                    <input type="submit" id="btnSubmit" value="{$lang.button_remove_selected}" disabled="true" class="button" />
                </td>
                <td align="right" nowrap="true" colspan="11">{include file="page.htm"}</td>
            </tr>
        </table>
        {if $full_page}
    </div>
    <!-- end pos list -->
</form>
<script type="text/javascript" language="JavaScript">
    <!--
    listTable.recordCount = {$record_count};
    listTable.pageCount = {$page_count};

    {foreach from=$filter item=item key=key}
    listTable.filter.{$key} = '{$item}';
    {/foreach}

    {literal}
    onload = function()
    {
        document.forms['searchForm'].elements['pos_no'].focus();
        // 开始检查订单
        startCheckOrder();
    }

    /**
     * 搜索POS机
     */
    function searchPos()
    {
        listTable.filter['pos_no'] = Utils.trim(document.forms['searchForm'].elements['pos_no'].value);
        listTable.filter['page'] = 1;
        listTable.loadList();
    }

    function confirm_bath()
    {
        posItems = document.getElementsByName('checkboxes[]');
        cfm = '{$lang.list_remove_pos_confirm}';
        return confirm(cfm);
    }
    //-->
</script>
{/literal} {include file="pagefooter.htm"} {/if}
