{if $full_page}
<!-- $Id: pos_list.htm 17053 2010-03-15 06:50:26Z sxc_shop $ -->
{include file="pageheader.htm"} {insert_scripts files="../js/utils.js,listtable.js,placeholder.js"}
<script type="text/javascript" src="../js/calendar.php"></script>
<link href="../js/calendar/calendar.css" rel="stylesheet" type="text/css" />
<form method="POST" action="" name="listForm" onsubmit="return confirm_bath()">
    <!-- start record list -->
    <div class="list-div" id="listDiv">
        {/if}
        <table cellpadding="3" cellspacing="1" style="margin-bottom:8px;">
            <tr>
                <th style="text-align:left;padding-left:10px">刷卡总金额：{$total},终端消费金额：{$trade_total}，终端提现金额：{$cash_total}</th>
            </tr>
        </table>
        {foreach from=$order_list  key=year_month item=record_list}
        <span style="font-weight: bold">{$year_month}(总额：{$total_money.$year_month})</span>
        <table cellpadding="3" cellspacing="1">
            <tr>
                <th>编号</th>
                <th>订单号</th>
                <th>会员卡号</th>
                <th>手机号</th>
                <th>订单金额</th>
                <th>余额支付</th>
                <th>授信/提现额度支付</th>
                <th>类型</th>
                <th>日期</th>
            </tr>
            {foreach from=$record_list item=record}
            <tr>
                <td align="center">{$record.order_id}</td>
                <td align="center">{$record.order_sn}</td>
                <td align="center">{$record.user_name}</td>
                <td align="center">{$record.mobile_phone}</td>
                <td align="center">{$record.goods_amount}</td>
                <td align="center">{$record.surplus}</td>
                <td align="center">{$record.integral_money}</td>
                <td align="center">{$record.pay_note_name}</td>
                <td align="center">{$record.add_time}</td>
            </tr>
            {/foreach}
          </table>
        {/foreach}
        {if $full_page}
    </div>
    <!-- end pos list -->
</form>
<script type="text/javascript" language="JavaScript">
    <!--
	listTable.query = 'query_record';
	listTable.url += '&pos_no={$pos_no}';
    listTable.recordCount = {$record_count};
    listTable.pageCount = {$page_count};

    {literal}
    onload = function()
    {
        //document.forms['searchForm'].elements['pos_no'].focus();
        // 开始检查订单
        startCheckOrder();
    }

    /*function searchRecord()
    {
        listTable.filter['start_time'] = Utils.trim(document.forms['searchForm'].elements['start_time'].value);
        listTable.filter['end_time'] = Utils.trim(document.forms['searchForm'].elements['end_time'].value);
        listTable.filter['page'] = 1;
        listTable.loadList();
    }*/

    function confirm_bath()
    {
        posItems = document.getElementsByName('checkboxes[]');
        cfm = '{$lang.list_remove_pos_confirm}';
        return confirm(cfm);
    }
    //-->
</script>
{/literal} {include file="pagefooter.htm"} {/if}
